.header {
  background-image: linear-gradient(
    to bottom,
    #828994,
    #7e8e94,
    #7e9190,
    #85938b,
    #909487
  );
  padding: 15px 0;
}
.addBtn {
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
}
.headerRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
